@font-face {
  font-family: 'ShootingStar';
  src: url('assets/fonts/ShootingStar-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('assets/fonts/SourceCodePro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Shooting-Star;
}

p, span, a, li, div {
    font-family: SourceCodePro;
}

